@page
@model AzureMrMackey.Core.Pages.IndexModel
@{
    ViewData["Title"] = "Mr. Mackey (Core)";
}

<input id="end" value="64000"/><button onclick="search()">search</button>
<div id="log"></div>

<script>
    async function search() {
        let start = 0;
        let end = Number(document.getElementById("end").value);
        let log = document.getElementById("log");

        do {
            let mid = Math.floor((start + end) / 2);
            console.log(start, mid, end);
            try {
                log.textContent = `testing: ${mid}`;
                let content = await fetch(`MrMackey?size=${mid}`);
                if (!content.ok) throw content.statusText;
                console.log(`${mid} success`);
                if (start === mid) { start += 1; }
                else { start = mid; }
            } catch (error) {
                console.log(`${mid} failed`);
                end = mid;
            }
        } while (start < end)

        if (start !== 1<<20) {
            console.log(`found limit: ${start - 1}`)
            log.textContent = `found limit: ${start - 1}`;
        } else {
            console.log(`reached limit: ${start}`)
            log.textContent = `reached limit: ${start}`;
        }
    }

    search();
</script>
